/* Footer */
footer a:link {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF !important;
}

footer a:visited {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF !important;
}

footer a:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF !important;
}

footer a:active {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    
    text-decoration-line: underline;
    color: #FFFFFF !important;
}

footer .logo
{
    height:45px;
}

.copyright
{
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px !important;

    color: #FFFFFF;
}
/* /Footer */