body 
{
    font-family: "Source Sans Pro";
    padding-top: 7.6rem;
    background-color: white;
}

@media (max-width: 992px) 
{
    body 
    {
        padding-top: 5.5rem;
    }
}
@media (min-width: 992px) 
{
    body 
    {
        padding-top: 7.6rem;
    }
}


@media (min-width: 1200px) {
    .container{
        max-width: 1264px;
    }
}

.mainSectionHome,
.bg-green
{
    background-color: #6EBDBD;
}

.bg-yellow
{
    background-color: #FDC955;
}

.bg-teal
{
    background-color: #0A8E97;
}

.bg-white
{
    background-color: white;
}

.bg-orange
{
    background-color: #FFAC36;
}

.bg-grey
{
    background-color: rgba(242, 242, 242, 0.5);
}

.bg-lightgrey
{
    background-color: #F2F2F2;
}

.bg-black
{
    background-color: black
}

@media (max-width: 992px) 
{
    h1
    {
        font-style: normal;
        font-weight: 300;
        font-size: 54px;
        line-height: 68px;

        color: #205F5F;
    }

    h2
    {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        text-transform: capitalize;
        color: #222222;
    }

    /* Item offset for expanded navbar */
    .nav-item
    {
        width: 100%;
    }
}

@media (min-width: 992px) 
{
    h1
    {
        font-family: Source Sans Pro;
        color: #003939; 
        font-weight: 300;
        font-size: 54px;
        line-height: 68px;
    }

    h2
    {
        color: #222222; 
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        line-height: 38px;
    }
}

@media (min-width: 768px) and (max-width: 1200px)
{
    h1
    {
        font-style: normal;
        font-weight: 300;
        font-size: 54px;
        line-height: 68px;
        color: #003939;
    }
}

h3
{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #003939;
}

h4
{
    color: #333333; 
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    border-color: #C4C4C4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-transform: uppercase;
}

h5
{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;

    color: #333333;
}

p
{
    color: #205F5F; 
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
}

.mainSectionHome h1,
.mainSectionHome p,
.bg-green h1,
.bg-green p
{
    color: #003636;
}

a:link, a:hover, a:active, a:visited 
{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    text-decoration: underline;
    
    color: #003939;
}


.link-small
{
    font-size: 17px !important;
}

.link-large
{
    font-size: 22px !important;
    line-height: 32px !important;
    font-weight: 600 !important;

    text-decoration: none !important;

    color: #205F5F !important;
}

.dark-bg
{
    background-color: #333333 !important;
}

.dark-bg p
{
    color: #CDCDCD;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17.6px;
}

section .btn-primary , section .btn-primary:active , section .btn-primary:visited 
{
    background-color: #FFC749 !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 16px !important;
    line-height: 20px !important;
    text-transform: capitalize;
    color: #463B2A !important;
    border: none !important;
    text-decoration: none;
    font-weight: 600;
}

section .btn-primary:hover
{
    background-color: #2BA9E0 !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none !important;
}



/* Home Page */
.text-intro
{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.image-caption
{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #676868;
}

@media (min-width: 1200px) {
    .pb-xl-7,
    .py-xl-7 {
      padding-bottom: 7rem !important;
    }
}

.chevronText
{
    margin-right: .3rem;
    white-space: nowrap;
}

.footnote
{
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.63px;
}
/* /Home Page */

.largeBody
{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;

    color: #205F5F;
}

a.anchor
{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.externalLinkIcon
{
    width:21px;
    height:21px;
    margin-left:-5px;
}

.border-b2
{
    border-bottom-width: 2px !important;
}

.hr-yellow
{
    border-color: #FFC749;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.border-top-teal
{
    border-top: 3px solid #205F5F;
}

/* FAQ Page */
ul#FAQTOC
{
    line-height: 32px;
}

.question
{
    color: #003939;
    font-style: normal;
    font-weight: normal;
    font-size: 24px !important;
    line-height: 32px !important;
    text-decoration: none !important;
}

.answer
{
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 24px !important;
    
    margin-top: -0.6rem;

    color: #205F5F;
}
/* /FAQ Page */


/* Community Page */

.adoptersOrg
{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

    color: #003939;
}

.adoptersQuote
{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    
    color: #003939;
}


.links-news > li
{
    min-height: 65px;
}


@media (min-width: 992px) 
{
    .bg-logo
    {
        background-image: url(../Assets/Images/bgLogo.png);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: right;
    }
}
/* /Community Page */

#backToTop 
{
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    z-index: 1000;
}

.img-small {
    max-width: 175px;
}
