/* navagation */

nav
{
    border-bottom: 1px solid #BBBBBB;
}

.navbar-nav > li
{
    align-items: center;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link
{
    margin-right: 1.5rem;
}

/* Nav Links */
nav #SMARTnavbar a:link {
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    color: #676868 !important;
}

nav #SMARTnavbar a:visited {
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    color: #676868 !important;
}

nav #SMARTnavbar a:hover {
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    color: #2BA9E0 !important;
}

nav #SMARTnavbar a:active {
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    color: #676868 !important;
}

nav .active
{
    font-weight: bold;
}

nav .logo
{
    height: 45px;
}

/* Nav Button */
nav .btn-secondary  , nav .btn-primary:active , nav .btn-primary:visited  
{
    background-color: transparent !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #205F5F !important;
    border: none !important;
}

/* Nav Button */
nav .btn-primary , nav .btn-primary:active , nav .btn-primary:visited  
{
    background-color: #058E97 !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 16px !important;
    line-height: 20px !important;
    text-transform: capitalize;
    color: #FFFFFF !important;
    border: none !important;
}

nav .btn-primary:hover
{
    background-color: #2BA9E0 !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 16px !important;
    line-height: 20px !important;
    text-transform: capitalize;
    color: #FFFFFF !important;
    border: none !important;
}



.navbar-dark .navbar-toggler-icon 
{
    background-image: url("../Assets/Images/hamburger.svg");
}

.navbar .navbar-nav .nav-link 
{
    color: #000000;
    font-size: 1.1em;
    position: relative;
}

/* Underline */
@media (min-width: 992px) 
{
    .navbar .navbar-nav .active .nav-link::after 
    {
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #058E97;
        color: transparent;

        content: '.';
        height: 4px;

        width: 100%;
    }
}

@media (max-width: 992px) 
{
    .navbar-dark .navbar-nav .nav-link
    {
        margin-left: 15px !important;
    }
}