---
layout: page
title: Find My Issuer
nav: find-my-issuer
---
{% assign issuers = site.data.vci-issuers.participating_issuers %}
{% assign metadata = site.data.vci-issuers-metadata.issuer_metadata | where_exp: "item", "item.issuer_type contains 'governmental'" %}

<section class="subSection pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">

        <!-- Heading -->
        <h1>
          Find My Issuer
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start">
          <strong>Select one of the locations where you were vaccinated to see SMART Health Cards issuers in your area.</strong>
        </p>
        <p class="text-md-start">
          Locations with a <span class="shc-issuer mx-1" aria-label="SMART Health Card issuer indicator"></span> icon next to them issue SMART Health Cards through their public health departments. If no icon appears next to the location where you were vaccinated, you still may be able to get a SMART Health Card through a pharmacy or healthcare provider nearby. <strong>Those options will be listed after you select your location below.</strong>
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12">
        <div class="row pt-4">
          <div class="col-12 pb-4">
            <h2 class="font-weight-light">US States and Territories</h2>

            {% assign us_locations = site.locations | where: "category", "us" %}

            <div class="row pt-4">
              <div class="grid-cols col-12 locations-us">
                {% for location in us_locations %}
                {% assign location_data = metadata | where: "locations", location.location[0] | where: "label", location.label %}
                <p>
                  <a href="{{ location.url }}" class="font-weight-bold link-no-underline">
                    {{ location.label }}{% unless location_data[0].currently_issuing == false or location_data == empty %}&nbsp;<span class="shc-issuer ml-1" aria-label="SMART Health Card issuer indicator"></span>{% endunless %}
                  </a>
                </p>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col-12">
            <h2 class="font-weight-light">Worldwide</h2>

            {% assign world_locations = site.locations | where: "category", "world" %}

            <div class="row pt-4">
              <div class="grid-cols col-12 locations-world">
                {% for location in world_locations %}
                <p>
                  <a href="{{ location.url }}" class="font-weight-bold link-no-underline">
                    {{ location.label }}{% if location.smart_issuer %}&nbsp;<span class="shc-issuer ml-1" aria-label="SMART Health Card issuer indicator"></span>{% endif %}
                  </a>
                </p>
                {% endfor %}
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="bg-lightgrey subSection pt-4 pt-lg-5 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 offset-lg-1 text-left pb-4">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              Want to see all issuers?
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <p class="mb-md-9">
              See a full list of hundreds of SMART Health Cards issuers worldwide.
            </p>
            <p class="text-left pt-2 pb-3">
              <a class="btn btn-primary btn-block py-3 px-5" href="issuers.html" role="button"><span>All Issuers</span></a>
            </p>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7 offset-lg-1 text-left">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              Need more help?
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <p class="mb-md-9">
              See our Issuer Support page for more information.
            </p>
            <p class="text-left pt-2 pb-3">
              <a class="btn btn-primary btn-block py-3 px-5" href="support.html" role="button"><span>Support</span></a>
            </p>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>

  </div> <!-- / .container -->
</section>