---
layout: page
title: SMART Health Issuers
nav: issuers
---
{% assign issuers = site.data.vci-issuers.participating_issuers %}
{% assign metadata = site.data.vci-issuers-metadata.issuer_metadata %}

<section class="mainSectionHome py-3">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 col-xl-7 d-flex flex-column pt-3 py-md-5">

        <!-- Heading -->
        <h1 class="text-left text-md-start mb-3">
          SMART Health Card Issuers
        </h1>

        <!-- Text -->
        <p class="text-left text-md-start text-intro mb-lg-8">
          The following organizations have been validated and all are approved as SMART Health Cards issuers in the <a href="https://vci.org" target="_blank">VCI Directory</a>, including pharmacies, labs, hospitals, clinicians, and public health departments. More information about the importance of issuer vetting is available <a href="how-they-work.html#how-verification-works">here</a>.
        </p>

      </div>

      <div class="col-12 col-md-6 col-xl-4 offset-xl-1 d-flex flex-column justify-content-center">
        <img src="/Assets/Images/image005-1.png" class="d-block img-fluid" alt="Photograph of digital and paper SMART Health Cards">
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section class="subSection  pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">

        <!-- Heading -->
        <h1>
          Public Health Issuers
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start mb-0">
          These U.S. states and territories as well as countries across the globe have all become SMART Health Card issuers. You also can find a full list of more than 500 additional issuers at the end of this page.
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12">
        <div class="row pt-4">
          <div class="col-12 pb-4">
            <h2 class="font-weight-light">US States and Territories</h2>

            {% assign pubhealth = metadata | where_exp: "item", "item.issuer_type contains 'governmental'" | sort_natural: "label" %}
            {% assign pubhealth_grouped = metadata | where_exp: "item", "item.issuer_type contains 'governmental'" | group_by: "label" | sort_natural: "label" %}

            {% assign us_string = '"country"=>"US"' %}
            {% assign us_issuers = "" | split: "" %}

            {% for issuer in pubhealth_grouped %}
              {% assign location_string = issuer.items[0].locations | join %}
              {% if issuer.items[0].issuer_type == "governmental.state_province_territory" %}
                {% if location_string == us_string or location_string contains us_string %}
                  {% assign us_issuers = us_issuers | push: issuer.items[0] | sort_natural: "label" %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <div class="row pt-4">
              <div class="col-12 grid-cols publichealth-issuers--us">

                {% for usissuer in us_issuers %}
                  {% if usissuer.label %}
                    {% assign issuer_data = issuers | where: "iss", usissuer.canonical_iss | last %}
                    <p>
                      <a class="font-weight-bold" href="{{ issuer_data.website }}" target="_blank">
                        {{ usissuer.label }}
                      </a>
                    </p>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>

          <div class="col-12">
            <h2 class="font-weight-light">Worldwide</h2>

            {% assign world_issuers = "" | split: "" %}

            {% for issuer in pubhealth_grouped %}
              {% assign location_string = issuer.items[0].locations | join %}
              {% unless issuer.items[0].issuer_type == "governmental.state_province_territory" %}
                {% unless location_string == us_string or location_string contains us_string  %}
                  {% assign world_issuers = world_issuers | push: issuer.items[0] | sort_natural: "label" %}
                {% endunless %}
              {% endunless %}
            {% endfor %}

            <div class="row pt-4">
              <div class="col-12 grid-cols publichealth-issuers--world">

                {% for worldissuer in world_issuers %}
                  {% if worldissuer.label %}
                    {% assign issuer_data = issuers | where: "iss", worldissuer.canonical_iss | last %}
                    <p>
                      <a class="font-weight-bold" href="{{ issuer_data.website }}" target="_blank">
                        {{ worldissuer.label }}
                      </a>
                    </p>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
            <div class="row text-right pt-3">
              <div class="col-12 col-xl-6 offset-xl-5">
                <p><a href="#pharmacies">See more issuers, including pharmacies, below.</a></p>
              </div>
              <div class="col-12 col-xl-6 offset-xl-5">
                <p><em>*Not currently issuing new SMART Health Cards.</em></p>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="subSection bg-grey pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">
        <a class="anchor" name="pharmacies"></a>

        <!-- Heading -->
        <h1>
          U.S. Nationwide Pharmacies and Test Providers
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start mb-0">
          These nationwide labs and retail pharmacies have all become SMART Health Card issuers, offering United States residents the opportunity to get access to SMART Health Cards anywhere they do business. You also can find a full list of other issuers at the end of this page.
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12">
        <div class="row pt-4r">
          <div class="col-12 pb-3">

            <!-- TODO: pharmcies/labs -->

            <div class="row pt-4">
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" class="font-weight-bold" href="https://www.albertsons.com/pharmacy/covid-19.html" target="_blank" title="Including Acme, Albertsons, Albertsons Market, Amigos, Carrs, Haggen, Jewel-Osco, Lucky, Market Street, Osco, Pak 'N Save, Pavilions, Randalls, Sav-On, Shaw's, Safeway, Star Market, Tom Thumb, United, and Vons.">Albertsons</a></p>
                <p><a class="font-weight-bold" class="font-weight-bold" href="https://www.bioreference.com/patient-portal" target="_blank">BioReference Laboratories</a></p>
                <p><a class="font-weight-bold" class="font-weight-bold" href="https://care.cvs.com/care-navigation/#/home" target="_blank">CVS</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" class="font-weight-bold" href="https://ihealthlabs.com/account/login" target="_blank">iHealth Labs</a></p>
                <p><a class="font-weight-bold" href="https://www.riteaid.com/pharmacy/vaccination-digital-proof" target="_blank">Rite Aid</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.walgreens.com/topic/promotion/covid-vaccine.jsp?cjevent=99e15928621a11ec825cbaf70a1c0e13&CID=5250933&ext=100357191&PID=100357191&AID=11020894&SID=oc5A05L8E%2FcFrofF6SHThCQtuY2mvZ5s56vpcp3zZPBRiw3IMC5Yy0TpqqiMWDE7" target="_blank">Walgreens</a></p>
                <p><a class="font-weight-bold" href="https://www.walmart.com/cp/digital-vaccine-record/9508321" target="_blank">Walmart</a></p>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="subSection pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">

        <!-- Heading -->
        <h1>
          All Issuers
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start mb-0">
          If your state, healthcare provider, pharmacy, or lab is listed below, click on the link to learn how to gain access to your SMART Health Card from your issuer. This might include logging into your patient portal where you can view your immunization history and secure a digital record of your vaccination. If a link is not provided below, or you experience any difficulties gaining access to your vaccination records, please contact your provider directly.
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12">
        <div class="row pt-4" id="issuers_list">

          {% comment %} Create a variable of the sorted list from the JSON file {% endcomment %}
          {% assign issuers = '' | split: '' %}
          {% assign issuers_grouped = site.data.vci-issuers.participating_issuers | group_by: 'name' | sort_natural: 'name' %}
          {% for issuer_entry in issuers_grouped %}
              {% assign best_entry_for_issuer = issuer_entry.items | sort: "website" | last %}
              {% assign issuers = issuers | push: best_entry_for_issuer %}
          {% endfor %}

          {% comment %} Setup a variable to track the most recently iterated name. If that name comes up more than once, skip the duplicate(s) {% endcomment %}
          {% assign name = '' %}
          {% assign num = 0 %}

          <!-- TODO: defer to label value -->

          {% comment %} Iterate through the sorted array into three columns, offsetting by the items we've already listed. Add each entry together to get the total of non-duplicate entries. {% endcomment %}
          <div class="col-12 grid-cols all-issuers">
            {% for issuer in issuers %}
              {% if issuer.name == name %}
                {% continue %}
              {% endif %}
              {% if issuer.website %}
                <a href={{ issuer.website }} target="_blank">
              {% endif %}
              <p class="font-weight-bold">{{ issuer.name }}</p>
              {% if issuer.website %}
                </a>
              {% endif %}
              {% assign name = issuer.name %}
              {% assign num = num | plus: 1 %}
            {% endfor %}
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
    <div class="row py-3" aria-hidden="true">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn btn-primary pt-2 pb-2 pl-4 pr-4 text-uppercase list-toggle"><span class="float-left mr-3"></span>Show All {{ num }} Issuers <img src="/Assets/Images/MIC21224_Icon_Link_v01_DS_2021_06_28.png" class="float-right mx-auto rotate-90" width="21" height="21" alt=""></button>
        <button class="btn btn-primary btn btn-primary pt-2 pb-2 pl-4 pr-4 text-uppercase list-toggle toggle-hide"><span class="float-left mr-3"></span>See Less <img src="/Assets/Images/MIC21224_Icon_Link_v01_DS_2021_06_28.png" class="float-right mx-auto rotate-270" width="21" height="21" alt=""></button>
      </div>
    </div>
  </div> <!-- / .container -->
</section>

<section class="bg-lightgrey subSection pt-4 pt-lg-5 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 text-left">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              Frequently Asked Questions
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <p class="largeBody fs-lg mb-md-9">
              Visit our Frequently Asked Questions page to learn more about how to use your SMART Health Card and the benefits of SMART Health Cards.
            </p>
            <p class="text-left pt-2 pb-3">
              <a class="btn btn-primary pt-2 pb-2 pl-2 pr-2" href="faq.html" role="button"><span class="float-left mr-3"></span>Visit our FAQ</span> <img src="/Assets/Images/MIC21224_Icon_Link_v01_DS_2021_06_28.png" class="float-right mx-auto" style=" width:21px; height:21px;" alt=""></a>
            </p>
          </div>
        </div> <!-- / .row -->
      </div>
      <div class="col-12 col-lg-7 offset-lg-1 text-left pb-4">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              For more information
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <p class="largeBody fs-lg mb-md-9">
              Although clinical and government organizations are the only issuers we include in the VCI directory today, we recognize that there are many other health and technology organizations playing an important role in the ecosystem as data aggregators and health IT vendors.
            </p>
            <ul>
              <li><a href="/en/faq.html#What-are-data-aggregators-and-health-IT-vendors-and-what-role-do-they-play-in-vaccination-verification-with-SMART-Health-Cards">Learn more about data aggregators and health IT vendors.</a></li>
              <li><a href="https://vci.org/issuers" target="_blank">Learn how to become a SMART Health Card issuer.</a></li>
              <li><a href="https://vci.org" target="_blank">See a map of countries that have adopted SMART Health Cards.</a></li>
            </ul>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>

  </div> <!-- / .container -->
</section>