---
layout: page
title: SMART Health Issuers
nav: issuers
---
<section class="mainSectionHome py-3">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-center pt-3 py-md-5">

        <!-- Heading -->
        <h1 class="text-left text-md-start">
          U.S. SMART Health Card Issuers
        </h1>

        <!-- Text -->
        <p class="text-left text-md-start text-intro-small mb-lg-8">
          Proof of vaccination is important to be able to get back to life safely, which is why there are hundreds of clinical and government entities in the United States and worldwide issuing SMART Health Cards…and the list is growing every day.
        </p>
        <p class="text-left text-md-start text-intro-small mb-lg-8">
          But for all of us to have confidence in each other's vaccination status, it is critical that we trust these issuers, which is why there needs to be a publicly available list of approved <a href="/en/faq.html#What-is-an-issuer">issuers</a>. The <a href="/en/faq.html#What-are-the-VCI-Directory-and-the-CommonTrust-Network">VCI Directory</a> does just that. The SMART Health Cards team has worked with the VCI coalition to prepare this directory. Its sole purpose is to make sure organizations accepting SMART Health Cards have a reliable source they can trust when they are verifying these cards.
        </p>
        <p class="text-left text-md-start text-intro-small mb-lg-8">
          The following organizations have been validated and all are approved as SMART Health Cards issuers in the VCI Directory, including pharmacies, labs, hospitals, clinicians, and public health departments.
        </p>

      </div>

      <div class="col-12 col-md-6 col-lg-7 d-flex flex-column justify-content-center">
        <img src="../Assets/Images/image005-1.png" class="d-block img-fluid" alt="Photograph of digital and paper SMART Health Cards">
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section class="subSection  pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">

        <!-- Heading -->
        <h1>
          Public Health Issuers
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start mb-0">
          These U.S. states and territories as well as countries across the globe have all become SMART Health Card issuers. You also can find a full list of more than 400 additional issuers at the end of this page.
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12 col-md-8 ml-md-5">
        <div class="row pt-4">
          <div class="col-12 pb-4">
            <h2 class="font-weight-light">US States and Territories</h2>

            <div class="row pt-4">
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://myvaccinerecord.cdph.ca.gov/" target="_blank">California</a></p>
                <p><a class="font-weight-bold" href="https://mycolorado.state.co.us/myvaccine-record" target="_blank">Colorado</a></p>
                <p><a class="font-weight-bold" href="https://portal.ct.gov/DPH/Immunizations/CT-WiZ-Access-My-Immunization-Record" target="_blank">Connecticut</a></p>
                <p><a class="font-weight-bold" href="https://hawaiicovid19.com/smart-health-card/" target="_blank">Hawaii</a></p>
                <p><a class="font-weight-bold" href="https://idphportal.illinois.gov/s/?language=en_US" target="_blank">Illinois</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://lawallet.com/covid-19/" target="_blank">Louisiana</a></p>
                <p><a class="font-weight-bold" href="https://covid19.nj.gov/pages/vaxrecords" target="_blank">New Jersey</a></p>
                <p><a class="font-weight-bold" href="https://covid19vaccine.health.ny.gov/excelsior-pass-and-excelsior-pass-plus" target="_blank">New York</a></p>
                <p><a class="font-weight-bold" href="https://www.prits.pr.gov/vacu-id" target="_blank">Puerto Rico</a></p>
                <p><a class="font-weight-bold" href="https://portal.ri.gov/VaccineRecord/s/" target="_blank">Rhode Island</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://immunize.utah.gov/usiis/" target="_blank">Utah</a></p>
                <p><a class="font-weight-bold" href="https://vase.vdh.virginia.gov/vacapps/f?p=545:1" target="_blank">Virginia</a></p>
                <p><a class="font-weight-bold" href="https://waverify.doh.wa.gov/" target="_blank">Washington</a></p>
              </div>
            </div>
          </div>

          <div class="col-12">
            <h2 class="font-weight-light">Worldwide</h2>

            <div class="row pt-4">
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-covid-19-proof-vaccination/get-proof.html" target="_blank">Canada</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.hsa.ky/news_events/digital-covid-vaccine-certificates-now-being-uploaded-to-myhsa-patient-portal/" target="_blank">Cayman Islands</a></p>
              </div>
            </div>
            <div class="row text-right pt-3">
              <div class="col-10">
                <a  href="#pharmacies">See more issuers, including pharmacies, below.</a>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="subSection bg-grey pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">
        <a class="anchor" name="pharmacies"></a>

        <!-- Heading -->
        <h1>
          U.S. Nationwide Pharmacies
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="text-md-start mb-0">
          These nationwide retail pharmacies have all become SMART Health Card issuers, offering United States residents the opportunity to get access to SMART Health Cards anywhere they do business. You also can find a full list of other issuers at the end of this page.
        </p>
      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12 col-md-9">
        <div class="row pt-4r">
          <div class="col-12 pb-3">

            <div class="row pt-4">
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.albertsons.com/pharmacy.html" target="_blank">Albertsons</a></p>
                <p><a class="font-weight-bold" class="font-weight-bold" href="https://care.cvs.com/care-navigation/#/home" target="_blank">CVS</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.riteaid.com/pharmacy/vaccination-digital-proof" target="_blank">Rite Aid</a></p>
                <p><a class="font-weight-bold" href="https://www.walgreens.com/topic/promotion/covid-vaccine.jsp?cjevent=99e15928621a11ec825cbaf70a1c0e13&CID=5250933&ext=100357191&PID=100357191&AID=11020894&SID=oc5A05L8E%2FcFrofF6SHThCQtuY2mvZ5s56vpcp3zZPBRiw3IMC5Yy0TpqqiMWDE7" target="_blank">Walgreens</a></p>
              </div>
              <div class="col-12 col-md-4">
                <p><a class="font-weight-bold" href="https://www.walmart.com/cp/digital-vaccine-record/9508321" target="_blank">Walmart</a></p>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="subSection pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-left">

        <!-- Heading -->
        <h1>
          All Issuers
        </h1>

      </div>
    </div> <!-- / .row -->
    <hr class="hr-yellow">

    <div class="row pt-2">
      <div class="col-12">
        <div class="row pt-4" id="issuers_list">

          {% comment %} Create a variable of the sorted list from the JSON file {% endcomment %}
          {% assign issuers = site.data.vci-issuers | sort_natural: 'name' %}

          {% comment %} Create offset numbers to break the list up into 3 roughly equal groups {% endcomment %}
          {% assign looplength = issuers.size | divided_by: 3 %}
          {% assign looplength2 = looplength | plus: looplength %}

          {% comment %} Setup a variable to track the most recently iterated name. If that name comes up more than once, skip the duplicate(s) {% endcomment %}
          {% assign name = '' %}

          {% comment %} Iterate through the sorted array into three columns, offsetting by the items we've already listed. {% endcomment %}
          <div class="col-12 col-md-4">
            {% for issuer in issuers limit: looplength %}
            {% if issuer.name == name %}
            {% continue %}
            {% endif %}
            <p class="font-weight-bold">{{ issuer.name }}</p>
            {% assign name = issuer.name %}
            {% endfor %}
          </div>
          <div class="col-12 col-md-4">
            {% for issuer in issuers limit: looplength offset: looplength %}
            {% if issuer.name == name %}
            {% continue %}
            {% endif %}
            <p class="font-weight-bold">{{ issuer.name }}</p>
            {% assign name = issuer.name %}
            {% endfor %}
          </div>
          <div class="col-12 col-md-4">
            {% for issuer in issuers limit: looplength2 offset: looplength2  %}
            {% if issuer.name == name %}
            {% continue %}
            {% endif %}
            <p class="font-weight-bold">{{ issuer.name }}</p>
            {% assign name = issuer.name %}
            {% endfor %}
          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
    <div class="row py-3" aria-hidden="true">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn btn-primary pt-2 pb-2 pl-4 pr-4 text-uppercase list-toggle"><span class="float-left mr-3"></span>Show All {{ issuers.size }} Issuers <img src="../Assets/Images/MIC21224_Icon_Link_v01_DS_2021_06_28.png" class="float-right mx-auto rotate-90" width="21" height="21" alt=""></button>
        <button class="btn btn-primary btn btn-primary pt-2 pb-2 pl-4 pr-4 text-uppercase list-toggle toggle-hide"><span class="float-left mr-3"></span>See Less <img src="../Assets/Images/MIC21224_Icon_Link_v01_DS_2021_06_28.png" class="float-right mx-auto rotate-270" width="21" height="21" alt=""></button>
      </div>
    </div>
  </div> <!-- / .container -->
</section>

<section class="bg-lightgrey subSection pt-4 pt-lg-5 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 text-left">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              For more information
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <p class="largeBody fs-lg mb-md-9">
              Although clinical and government organizations are the only issuers we include in the VCI directory today, we recognize that there are many other health and technology organizations playing an important role in the ecosystem as data aggregators and health IT vendors.
            </p>
            <ul>
              <li><a href="/en/faq.html#What-are-data-aggregators-and-health-IT-vendors-and-what-role-do-they-play-in-vaccination-verification-with-SMART-Health-Cards">Learn more about data aggregators and health IT vendors.</a></li>
              <li><a href="https://vci.org/issuers" target="_blank">Learn how to become a SMART Health Card issuer.</a></li>
              <li><a href="https://vci.org" target="_blank">See a map of countries that are accepting SMART Health Cards as valid proof of vaccination.</a></li>
            </ul>
          </div>
        </div> <!-- / .row -->
      </div>
      <div class="col-12 col-lg-4 offset-lg-1 text-left pb-4">
        <div class="row">
          <div class="col-12 text-left">

            <!-- Heading -->
            <h2>
              Contact Us
            </h2>
          </div>
        </div> <!-- / .row -->

        <div class="row pt-2 pt-lg-3">
          <div class="col-12 text-left">
            <!-- Text -->
            <ul class="list-unstyled">
              <li><a href="mailto:info@smarthealth.cards" class="link-large">General Inquiries</a></li>
            </ul>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>

  </div> <!-- / .container -->
</section>