<footer class="dark-bg pt-3 pb-3">
    <div class="container">
      <div class="row justify-content-left pt-3 pb-3">
        <div class="col-12 col-xl-8 text-left">
          <!-- Site Map -->
          <ul class="list-unstyled text-small">
            <li><a class="" href="/index.html">Home</a></li>
            <li><a class="" href="/en/find-my-issuer.html">Find My Issuer</a></li>
            <li><a class="" href="faq.html">FAQ</a></li>
            <li><a class="" href="/en/how-they-work.html">How They Work</a></li>
            <li><a class="" href="https://smarthealthit.org/smart-health-it-privacy-policy/" target="_blank">Privacy Policy</a></li>
            <!-- <li><a href="https://spec.smarthealth.cards/"  target="_blank">Technical Specifications</a></li> -->
          </ul>
        </div>

        <div class="col-12 col-xl-4 text-left">
          <div class="row justify-content-left pt-3">
            <div class="col-4 text-left">
              <a href="https://www.childrenshospital.org/"  target="_blank"><img src="../Assets/Images/logoBoston.svg" class="float-left img-fluid center-block d-block mx-auto logo" alt="Boston Children's Hopsital Logo"></a>
            </div>
            <div class="col-4 text-left">
              <a href="https://vci.org/"  target="_blank"><img src="../Assets/Images/VCI.png" class="float-left img-fluid center-block d-block mx-auto logo" alt="VCI Logo"></a>
            </div>
            <div class="col-4 text-left">
              <a href="https://smarthealthit.org/"  target="_blank"><img src="../Assets/Images/logo_footer.svg" class="float-left img-fluid center-block d-block mx-auto logo" alt="SMART Logo"></a>
            </div>
          </div>
          <div class="row justify-content-left pt-4">
            <div class="col-12 text-left">
              <p class="copyright">
                © Copyright 2021 SMART Health IT and Boston Children’s Hospital
              </p>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </footer>
  <script src="../lib/jQuery/jquery-3.6.0.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y49831E6J3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Y49831E6J3');
  </script>
